Host r3700
    Port {{ host.ssh_port }}
	User seba
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host localhost
    Port 10022
    Port 10023
    Port 10024
    Port 10025
	User *
	IdentityFile ~/.ssh/id_testVMs
	IdentitiesOnly yes

Host localhost
    Port {{ host.ssh_port }}
	User *
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host kali
	User *
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host t480
    Port {{ host.ssh_port }}
	User seba
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host x250
    Port {{ host.ssh_port }}
	User seba
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host sinaz
	User root
	IdentityFile ~/.ssh/{{ host.ssh_key }}
	IdentitiesOnly yes

Host *.posttenebraslab.ch
    Port 22
    User {{ user.ptl_user }}
	IdentityFile ~/.ssh/{{ host.ssh_key_ptl }}
    ServerAliveInterval 60
	IdentitiesOnly yes

Host github.com
	IdentityFile ~/.ssh/{{ host.ssh_key }}

Host gitlab.com
    IdentityFile ~/.ssh/id_gitlab_rsa

Host gitlab.unige.ch
	IdentityFile ~/.ssh/{{ host.ssh_key }}

Host rpi
	IdentityFile ~/.ssh/{{ host.ssh_key }}

Host hampi
	IdentityFile ~/.ssh/{{ host.ssh_key }}

Host ssh.cluster013.hosting.ovh.net
	IdentityFile ~/.ssh/{{ host.ssh_key }}

Host aur.archlinux.org
  IdentityFile ~/.ssh/id_gitlab_rsa
  User aur

#Host *
#   User none
#	Port	22
#	IdentityFile ~/.ssh/{{ host.ssh_key }}
#    PreferredAuthentications keyboard-interactive,password
#    PubkeyAuthentication=no
#    PasswordAuthentication=yes
#    PreferredAuthentications=password

